div {
  box-sizing: border-box; 
}

.App {
  align-items: center;
  background-color: rgb(214, 201, 150);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

/* colors */

.colors {
  display: flex;
  flex-direction: row;
  font-size: 46px;
}

.colors div {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 10px;
  width: 200px;
}

.colors div:hover {
	border: 5px solid #fff;
	border-radius: 10px;
}

